<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            border-collapse: collapse; /* 테이블 테두리를 합치기 */
            width: 50%;
        }

        th, td {
            border: 1px solid #dddddd; /* 테두리 두께 설정 */
            text-align: center; /* 셀 내용을 중앙 정렬 */
            padding: 8px; /* 셀 안의 여백 설정 */
        }
    </style>


    <title>생산계획 관리</title>
</head>
<body>

<h1>생산계획</h1>


<h2>Product Details</h2>
<form action="/saveProduct" method="post" th:object="${productionPlanDTO}">
    <label for="ProductionQuantity">ProductionQuantity:</label>
    <input type="number" id="ProductionQuantity" th:field="*{ProductionQuantity}" required>
    <br>
    <label for="ProductionDate">ProductionDate:</label>
    <input type="date" id="ProductionDate" th:field="*{ProductionDate}" required>
    <br>
    <button type="submit">Save Product</button>
</form>

<h2>생산계획 목록</h2>



<table>

<!-- productList에 있는 데이터를 반복하며 출력 -->
<tr>
    <th>RowNum</th>
    <th>ProductionQuantity</th>
    <th>ProductionDate</th>
    <th>수정/삭제</th>
</tr>
<tr th:each="showPlanList : ${showProductionPlanList}">
    <td th:if="${showPlanList.RowNum != null}" th:text="${showPlanList.RowNum}"></td>

    <td th:text="${showPlanList.ProductionQuantity}"></td>

    <td  th:text="${#dates.format(showPlanList.ProductionDate,'yyyy-MM-dd')}"></td>

    <form th:action="@{/requestDelete}" method="post" >
    <input type="hidden" name="RowNum" th:value="${showPlanList.RowNum}" />
    <td><button type="submit">삭제</button> </td>
    </form>
</tr>
</table>




</body>
</html>
