<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table {
            border-collapse: collapse; /* 테이블 테두리를 합치기 */
            width: 50%;
        }

        th, td {
            border: 1px solid #dddddd; /* 테두리 두께 설정 */
            text-align: center; /* 셀 내용을 중앙 정렬 */
            padding: 8px; /* 셀 안의 여백 설정 */
        }
    </style>


    <title>생산계획 관리</title>
</head>
<body>

<h1>생산계획</h1>


<h2>Product Details</h2>
<form action="/saveProduct" method="post" th:object="${productDTO}">
    <label for="productCode">Product Code:</label>
    <input type="text" id="productCode" name="productCode" th:field="*{productCode}" required>
    <br>
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName"  th:field="*{productName}" required>
    <br>
    <button type="submit">Save Product</button>
</form>

<h2>생산계획 목록</h2>
<table>

<!-- productList에 있는 데이터를 반복하며 출력 -->
<tr>
    <th>ProductionPK</th>
    <th>ProductionQuantity</th>
    <th>ProductionDate</th>
    <th>complete</th>
</tr>
<tr th:each="showPlanList : ${showProductionPlanList}">

    <td th:text="${showPlanList.ProductionPK}"></td>

    <td th:text="${showPlanList.ProductionQuantity}"></td>

    <td th:text="${showPlanList.ProductionDate}"></td>

    <td th:text="${showPlanList.complete}"></td>
</tr>
</table>



</body>
</html>
